*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/img/muro-cemento_1154-642.jpg);
}

body {
    background-image: url("/img/chef.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.navegacion {
    background: linear-gradient(to bottom, rgb(7, 73, 1), rgb(255, 255, 255,0));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.navegacion .logo {
    cursor: pointer;
    justify-content:flex-start;
}

.navegacion .logo img {
    height: 70px;
    width: auto;
    transition: all 0.5s;
    justify-content:flex-start;
}

.navegacion .logo img:hover {
    transform: scale(1.2);
    justify-content:flex-start;
}

.navegacion .navLinks {
    list-style: none;
    justify-content: space-between;
}

.navegacion .navLinks li {
    display: inline-block;
    padding: 0 20px;
}

.navegacion .navLinks li:hover {
    transform: scale(1.1);
}

.navegacion .navLinks a{
    font-size: 700;
    color: white;
    text-decoration: none;
}

.navegacion .navLinks li a:hover {
    color: yellowgreen;
}




/* 
.logo {
    width: 100px;
    margin: 10px;
}

.navbar {
    width: 80%;
    margin:auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    
}


.navegacion {
    font-size: 20px;
    text-decoration: none;
    padding: 10px 30px;
    display: inline-block;
}

.navegacion:hover {
    font-size: 25px;
}
 */
img {
 width: 100px;
 margin: 10px;
}
.logo1 {
    border: thin solid black;
    display: inline-block;
    width: 9%;
    height: 20px;
}

.nave {
    border: thin solid black;
    display: inline-block;
    width: 80%;
    height: 20px;
}

.user {
    border: thin solid black;
    display: inline-block;
    width: 9%;
    height: 20px;
}
.tituloReceta{
   text-align: center;
}
.descripcionReceta{
    text-align: center;
}
.ingredientesReceta{
    text-align:justify;
}
.ingredientesReceta2{
    text-align:justify;
}