*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.principal {
    background-image: url("/img/chef.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.navegacion {
    position: sticky;
    top: 0px;
    background: linear-gradient(to bottom, rgb(7, 73, 1), rgb(255, 255, 255,0));
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    height: 85px;
    padding: 5px 10%;
}

.navegacion .logo {
    cursor: pointer;
    justify-content:flex-start;
}

.navegacion .logo img {
    height: 70px;
    width: auto;
    transition: all 0.5s;
    justify-content:flex-start;
}

.navegacion .logo img:hover {
    transform: scale(1.2);
    justify-content:flex-start;
}

.navegacion .navLinks {
    list-style: none;
    justify-content: space-between; 
}

.navegacion .navLinks li {
    display: inline-block;
    padding: 0 20px;  
}

.navegacion .navLinks li:hover {
    transform: scale(1.1);
}

.navegacion .navLinks a{
    font-size: 700;
    color: white;
    text-decoration: none;
}

.navegacion .navLinks li a:hover {
    color: yellowgreen;
}

/* ---------------------------------------------------------- */

.conti .tituloReceta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    text-align: center;
}

.conti .conteiner .tituloReceta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    text-align: center;
} 

.bloque .thumbnail {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 400px;
    
}

 .thumbnail .image img{
    margin-bottom: -3px;
    transition: all 0.5s;
}

.thumbnail .image img:hover{
    opacity: 0.7;
}










/* ---------------------------------------------------- */


h1 {
    font-family: 'Satisfy', cursive;;
    font-size: 50px;
    text-align: center;
    margin: 15px;
}

p {
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    text-align: center;
    margin: 20px;
}

.imagenReceta {
    display: flex;
    justify-content: center;
    align-items: center;
}



.tituloDeReceta {
    font-family: 'Satisfy', cursive;
    margin: 25px;
    padding-left: 1%;
    text-align: left;
}

.listaIngredientes ul li{
    margin-left: 6%;
    font-family: 'Patrick Hand', cursive;
    font-size: 18px;
}

.listaIngredientes ul ul li{
    margin-left: 8%;
    font-family: 'Patrick Hand', cursive;
    font-size: 18px;
}

.listaIngredientes .tituloDeRecetas-2{
    text-align: left;
    padding-left: 2%;
    font-family: 'Patrick Hand', cursive;
    font-size: 18px;   
}

.ul {
    margin-left: 10%;
    font-family: 'Patrick Hand', cursive;
    font-size: 18px;     
}

.listaReceta ol{
    background-position: 30px;
    margin-left: 6%;
    font-family: 'Patrick Hand', cursive;
    font-size: 18px;
}

.listaReceta ol ul{
    background-position: 30px;
    margin-left: 2%;
}

.disfrutar {
    font-family: 'Satisfy', cursive;;
    font-size: 25px;
}

.autor {
    text-align: right;
    font-family: 'Satisfy', cursive;
    font-size: 25px;
}

.flex-cont {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 20px auto;
}

.flex-cont > div {
    padding: 20px;
    margin: 10px;
}


.picture img {
    height: 374px;
    width: 300px;   
}

picture {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 40px;
    padding-top:  10px;
}

h3 {
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 30px;
}


@media screen and (max-width: 720px) {
    .flex-cont {
        display: block;
    }
    .flex-cont > div {
        width: auto;
    }
}
    

/* ------------------------------Footer----------------------------------------- */

.contenidoFooter {
    background: linear-gradient(to top, rgb(7, 73, 1), rgb(255, 255, 255,0));
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: white;
}

.linksUl{
    font-family: 'Satisfy', cursive;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    list-style:none;
}
.linksUl li a{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 25px;
    text-decoration: none;
}

.linksUl li a:link{
    text-decoration: none;
    
}

.linksUl li a:hover{
    color: black; 
    font-family: 'Satisfy', cursive;
    transform: scale(1.2);    
    text-decoration: none;
}
.linksUl li a:visited{
    color: black; 
    font-family: 'Satisfy', cursive;
    text-decoration: none;
    color: white;
}

.divNavegacion .linksUl li a:hover{
    color: yellowgreen;
}

.contenidoFooter div {
    width: 500px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.copyright p{
    text-align: center;
    font-size: 20px;
}



/* ------------------------------Ingredientes----------------------------------------- */

.ingredientes {
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 25px;
}

/* ------------------------------Cocineros----------------------------------------- */

.cocineros {
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 25px;
}

/* ------------------------------Footer paginas cocineros, ingredientes Index----------------------------------------- */

.footerPag {
    background: linear-gradient(to top, rgb(7, 73, 1), rgb(255, 255, 255,0));
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
}

.ulPaginas{
    font-family: 'Satisfy', cursive;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    list-style:none;
}
.ulPaginas li a{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 25px;
    text-decoration: none;
}

.ulPaginas li a:link{
    text-decoration: none;
    color: white;
}

.ulPaginas li a:hover{
    color: black; 
    font-family: 'Satisfy', cursive;
    transform: scale(1.2);    
    color: yellowgreen;
    text-decoration: none;
}

.divPag .ulPaginas li a:hover{
    color: yellowgreen;
}

.footerPag div {
    width: 500px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.copyright p{
    text-align: center;
    font-size: 15px;
    color: white;
}