*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal {
    background-image: url("/img/chef.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.navegacion {
    background: linear-gradient(to bottom, rgb(7, 73, 1), rgb(255, 255, 255,0));
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    height: 85px;
    padding: 5px 10%;
}

.navegacion .logo {
    cursor: pointer;
    justify-content:flex-start;
}

.navegacion .logo img {
    height: 70px;
    width: auto;
    transition: all 0.5s;
    justify-content:flex-start;
}

.navegacion .logo img:hover {
    transform: scale(1.2);
    justify-content:flex-start;
}

.navegacion .navLinks {
    list-style: none;
    justify-content: space-between;
}

.navegacion .navLinks li {
    display: inline-block;
    padding: 0 20px;
}

.navegacion .navLinks li:hover {
    transform: scale(1.1);
}

.navegacion .navLinks a{
    font-size: 700;
    color: white;
    text-decoration: none;
}

.navegacion .navLinks li a:hover {
    color: yellowgreen;
}

/* ---------------------------------------------------------- */

.conteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    text-align: center;
}


.bloque .thumbnail {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 400px;
    
}

 .thumbnail .image img{
    margin-bottom: -3px;
    transition: all 0.5s;
}

.thumbnail .image img:hover{
    opacity: 0.7;
}










/* ---------------------------------------------------- */

body {
    background-image: url(/img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Satisfy', cursive;;
    font-size: 50px;
    text-align: center;
    margin: 15px;
}

p {
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    text-align: center;
    margin: 20px;
}

.imagenReceta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloDeReceta {
    font-family: 'Satisfy', cursive;;
    margin: 20px;
    margin-left: 3%;
}


.listaIngredientes ul li{
    margin-left: 6%;
    font-family: 'Patrick Hand', cursive;
    font-size: 17px;
}
.tituloDeRecetas-2{
    margin-left: 7%;
    font-family: 'Patrick Hand', cursive;
    font-size: 17px;   
}

.ul {
    margin-left: 10%;
    font-family: 'Patrick Hand', cursive;
    font-size: 17px;     
}

.listaReceta ol{
    background-position: 30px;
    margin-left: 6%;
    font-family: 'Patrick Hand', cursive;
    font-size: 17px;
}

.listaReceta ol ul{
    background-position: 30px;
    margin-left: 2%;
}

.disfrutar {
    font-family: 'Satisfy', cursive;;
    font-size: 25px;
}

.autor {
    text-align: right;
    font-family: 'Satisfy', cursive;
    font-size: 25px;
}